* { box-sizing: border-box; }
.cell {
  width: 10%;
  float: left;
  border: thin solid #A7001E;
}

.cell:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

#box {
  width: 80%;
  margin: 0 auto;
}

.floating {
  position: absolute;
  border: thin solid blue;
}
